:root {
  --electric-blue-200: #DAF0FF;
  --electric-blue-400: #B6E0FF;
  --electric-blue-600: #91D1FF;
  --electric-blue-800: #6CC1FF;
  --electric-blue-1000: #48B2FF;

  --charcoal-100: #F7F9FC;
  --charcoal-200: #DDDFE2;
  --charcoal-400: #AAACAF;
  --charcoal-500: #86939B;
  --charcoal-600: #787A7D;
  --charcoal-800: #45474A;
  --charcoal-900: #1B2326;
  --charcoal-1000: #131417;

  --flow-space: 1.25rem;
}

html {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  background-color: white;
  @media (prefers-color-scheme: dark) { background-color: #262626 }
}

body, button, input { font-family: -apple-system, sans-serif }

html, p, h1, h2, h3, h4, html, blockquote {
  margin: 0;
  padding: 0;
}

h1 {
  line-height: 1.125;
  word-break: break-word;
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  color: #323232;
  @media (max-width: 55em) { font-size: 2rem }
  @media (prefers-color-scheme: dark) { color: #F9F7F7 }
}

h2 {
  font-size: 2.1rem;
  font-weight: 600;
  color: #323232;
  @media (max-width: 55em) { font-size: 1.8rem }
  @media (prefers-color-scheme: dark) { color: #F9F7F7 }
}

h3 {
  font-size: 1.7rem;
  font-weight: 500;
  color: #323232;
  @media (max-width: 55em) { font-size: 1.5rem }
  @media (prefers-color-scheme: dark) { color: #F9F7F7 }
}

h4 {
  font-size: 1.5rem;
  color: #323232;
  @media (max-width: 55em) { font-size: 1.3rem }
  @media (prefers-color-scheme: dark) { color: #F9F7F7 }
}

li, ol { margin: 0 }
ul { margin-top: 0 }
li {
  color: black;
  text-decoration: black;
  font-size: 1.28rem;
  & + li { margin-top: .25rem }
  @media (max-width: 55em) { font-size: 1.1rem }
  @media (prefers-color-scheme: dark) { color: #F9F7F7; text-decoration: #F9F7F7 }
}

body {
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5;
  padding: 0 2em;
  margin: 0;
  @media (max-width: 55em) { padding: 0 1rem }
}

hr {
  margin: 0;
  padding: 0;
  height: .28rem;
  border: 0;
  overflow: hidden;
  box-sizing: content-box;
  background-color: #EAEAEA;
  @media (prefers-color-scheme: dark) { background-color: #4A4A4A }
}

.container {
  max-width: 1000px;
  flex-grow: 1;
  margin: 0 auto;
  position: relative;
  width: auto;
}

.navbar-brand {
  margin-left: -.75rem;
  display: flex;
  min-height: 3.25rem;
}

.navbar {
  display: flex;
  align-items: stretch;
  & > .container { display: flex }
}
.navbar-menu {
  display: flex;
  align-items: stretch;
}
.navbar-start {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
  & > .navbar-item {
    font-size: 1.3em;
    font-weight: bold;
    color: #323232;
    @media (max-width: 45em) { font-size: 1em }
    @media (prefers-color-scheme: dark) { color: #F9F7F7 }
  }
}
.navbar-item img { max-height: 1.75rem }

img { max-width: 100%; height: auto }

a {
  outline: none;
  color: #0573D9;
  &:hover { color: #63C0F4 }
  &.navbar-item {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: .5rem .4rem;
    margin: 0 0.25rem;
    position: relative;
    text-decoration: none;
    &:hover { background-color: #F9F7F7 }
    @media (max-width: 45em) { padding: .5rem .2rem }
    @media (prefers-color-scheme: dark) {
      &:hover { background-color: #323232 }
    }
  }
  @media (prefers-color-scheme: dark) {
    color: #63C0F4;
    &:hover { color: #A3DEFF }
  }
}

code {
  font-size: 80%;
  border-radius: 5px;
  padding: 2px;
  color: #323232;
  @media (prefers-color-scheme: dark) { color: #F9F7F7 }
}

code, pre {
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: auto;
  font-family: monospace, monospace;
}

.mono {
  font-family: monospace, monospace;
  font-size: 110%;
}

pre {
  padding: 1.25rem 1.5rem;
  white-space: pre;
  word-wrap: normal;
  overflow-x: auto;
  line-height: 1.25;
  background-color: #F9F5F5;
  color: #323232;
  & code {
    background-color: transparent;
    color: currentColor;
    padding: 0;
  }
  @media (max-width: 55em) {
    padding: 1rem 1.25rem;
    line-height: 1;
  }
  @media (prefers-color-scheme: dark) {
    background-color: #323232;
    color: #F9F7F7;
  }
}

blockquote {
  padding: 0 10px;
  margin: 0;
  border-left: 5px solid #EAEAEA;
  & > p { color: #696969 }
  @media (prefers-color-scheme: dark) {
    border-left: 5px solid #4A4A4A;
    & > p { color: #DBDBDB }
  }
}

th {
  padding: 10px;
  font-weight: bold;
  color: #323232;

  @media (prefers-color-scheme: dark) { color: #F9F7F7 }
}

td { padding: 10px }

thead, tbody {
  color: #323232;

  @media (prefers-color-scheme: dark) { color: #F9F7F7 }
}

g-emoji {
  font-family: Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  font-style: normal;
  line-height: 1;
  vertical-align: -.075em;
}

p {
  display: block;
  text-wrap: pretty;
  max-width: 88ch;
  font-size: 1.28rem;
  color: #323232;

  @media (max-width: 55em) { font-size: 1.1rem }
  @media (prefers-color-scheme: dark) { color: #F9F7F7 }
}

.next {
  text-decoration: underline;
  border: 0;
  font-size: xx-large;
  text-align: center;
  margin: auto;
  display: block;
  font-weight: bold;
  padding: 1em;
  &:before { content: "👉" }
}

.section {
  padding: 1rem 0;
  & > .container {
    & > * + * { margin-top: var(--flow-space) }
    & > * + :is(h2, h3, h4) { margin-top: 2rem }
    & > :is(h1, h2, h3, h4) + * { margin-top: .5rem }
  }
}

.huge { font-size: 5rem }
.bigger { font-size: 2.5rem }
.big { font-size: 2.1rem }
.medium { font-size: 1.7rem }
.smedium { font-size: 1.5rem }

.small, th, pre, blockquote { font-size: 1.28rem }
@media (max-width: 55em) {
  .small, th, pre, blockquote { font-size: 1.1rem }
}

.tiny { font-size: 1rem }
.bold { font-weight: bold }
.underline { text-decoration: underline }

table { border-collapse: collapse }

th, td {
  padding: 10px;
  border: 1px solid #323232;
  @media (prefers-color-scheme: dark) { border: 1px solid #F9F7F7 }
}
