language: python
before_install:
 - sudo apt-get install libavformat-dev libavfilter-dev libavdevice-dev ffmpeg
install:
 - pip3 install audiotsm pillow pydub opencv-python youtube_dl
python:
  - "3.6"
  - "3.6"
  - "3.8"
  - "pypy3"
script:
 - python3 auto-editor.py --debug
 - python3 auto-editor.py --version
 - python3 auto-editor.py example.mp4 --verbose
 - python3 auto-editor.py example.mp4 -s 2
 - python3 auto-editor.py example.mp4 -v 2
 - python3 auto-editor.py example.mp4 --sounded_speed 0.5
 - python3 auto-editor.py example.mp4 --silent_speed 0.5
 - python3 auto-editor.py --clear_cache
 - python3 auto-editor.py "https://www.youtube.com/watch?v=kcs82HnguGc"
 - python3 auto-editor.py media/newCommentary.mp3 --silent_threshold 0.1
 - python3 auto-editor.py example.mp4 --cut_by_this_audio media/newCommentary.mp3
 - python3 auto-editor.py example.mp4 --background_music media/Magic_in_the_Garden.mp3
 - python3 auto-editor.py example.mp4 --export_to_premiere