language: python            # this works for Linux but is an error on macOS or Windows
jobs:
  include:
    - name: "Python 3.8.0 on Xenial Linux"
      python: 3.8
      before_install:
        - git clone https://github.com/Homebrew/brew ~/.linuxbrew/Homebrew
        - mkdir ~/.linuxbrew/bin
        - ln -s ~/.linuxbrew/Homebrew/bin/brew ~/.linuxbrew/bin
        - eval $(~/.linuxbrew/bin/brew shellenv)
    - name: "Python 3.7.4 on macOS"
      os: osx
      osx_image: xcode11.2
      language: shell
      before_isntall:
        - /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install.sh)"
        - brew install ffmpeg
install:
 - brew install youtube-dl
 - pip3 install scipy audiotsm pillow
script: python3 auto-editor.py example.mp4 || python auto-editor.py example.mp4
