language: python
before_install:
 - sudo apt-get install libavformat-dev libavfilter-dev libavdevice-dev ffmpeg
install:
 - pip3 install audiotsm2 opencv-python
python:
 - "3.6"
 - "3.7"
 - "3.8"
script:
 - python3 auto_editor/__main__.py --debug
 - python3 auto_editor/__main__.py --version
 - python3 auto_editor/__main__.py example.mp4 --verbose
 - rm example_ALTERED.mp4
 - python3 auto_editor/__main__.py example.mp4 -s 2 -mcut 10
 - rm example_ALTERED.mp4
 - python3 auto_editor/__main__.py example.mp4 -v 2 -mclip 4
 - rm example_ALTERED.mp4
 - python3 auto_editor/__main__.py example.mp4 --sounded_speed 0.5
 - rm example_ALTERED.mp4
 - python3 auto_editor/__main__.py example.mp4 --silent_speed 0.5
 - rm example_ALTERED.mp4
 - python3 auto_editor/__main__.py resources/newCommentary.mp3 --silent_threshold 0.1
 - python3 auto_editor/__main__.py resources/multi-track.mov --cut_by_all_tracks
 - rm resources/multi-track_ALTERED.mov
 - python3 auto_editor/__main__.py resources/multi-track.mov --keep_tracks_seperate
 - rm resources/multi-track_ALTERED.mov
 - python3 auto_editor/__main__.py example.mp4 --cut_by_this_audio resources/newCommentary.mp3
 - rm resources/newCommentary_ALTERED.mp3
 - python3 auto_editor/__main__.py resources --debug
 - python3 auto_editor/__main__.py example.mp4 -exp
 - python3 auto_editor/__main__.py example.mp4 -exr
 - python3 auto_editor/__main__.py resources/multi-track.mov -exp
 - python3 auto_editor/__main__.py resources/newCommentary.mp3 -exp
 - python3 auto_editor/__main__.py resources/newCommentary.mp3 -exr
 - python3 auto_editor/__main__.py example.mp4 --preview
 - python3 auto_editor/__main__.py example.mp4 --video_codec h264
 - rm example_ALTERED.mp4
 - python3 auto_editor/__main__.py example.mp4 --preset faster
 - rm example_ALTERED.mp4
 - python3 auto_editor/__main__.py example.mp4 --cut_out 0-5.7 -o hmm.mp4
 - rm example_ALTERED.mp4
 - python3 auto_editor/__main__.py example.mp4 hmm.mp4 --combine_files --debug
