language: python            # this works for Linux but is an error on macOS or Windows
jobs:
  include:
    - name: "Python 3.8.0 on Xenial Linux"
      python: 3.8
      before_install:
        - sudo apt-get install libavformat-dev libavfilter-dev libavdevice-dev ffmpeg
    - name: "Python 3.7.4 on macOS"
      os: osx
      osx_image: xcode11.2
      language: shell
      before_install:
        - /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install.sh)"
        - brew install ffmpeg

    - name: "Python 3.8.0 on Windows",
      os: windows,
      language: shell,
      before_install:
        - choco install python --version 3.8.0,
        - choco install ffmpeg,
        - python -V,
        - ffmpeg -h,
install:
 - pip3 install scipy audiotsm pillow pydub youtube_dl # install libraries
script:
 - python3 auto-editor.py --debug
 - python3 auto-editor.py example.mp4 || python auto-editor.py example.mp4
 - python3 auto-editor.py example.mp4 -s 2 || python auto-editor.py example.mp4 -s 2
 - python3 auto-editor.py --clear_cache || python auto-editor.py --clear_cache
