include scripts/win-ffmpeg/bin/ffmpeg.exe
include scripts/win-ffmpeg/bin/ffprobe.exe
include scripts/win-ffmpeg/LICENSE.txt
include scripts/win-ffmpeg/presets/ffprobe.xsd
include scripts/win-ffmpeg/presets/*.ffpreset

include scripts/mac-ffmpeg/bin/ffmpeg
include scripts/mac-ffmpeg/bin/ffprobe
include scripts/mac-ffmpeg/LICENSE.txt
include scripts/mac-ffmpeg/presets/ffprobe.xsd
include scripts/mac-ffmpeg/presets/*.ffpreset