name: build
on:
  release:
    types: [created]
  push:
    paths-ignore:
      - '**.md'
      - '**.txt'
      - '**.png'
      - 'auto_editor/__init__.py'
      - 'ae-ffmpeg/**/*'
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  build1:
    strategy:
      matrix:
        python-version: ['3.10']
    runs-on: ubuntu-latest
    timeout-minutes: 20
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install FFmpeg
      run: |
        sudo apt update
        sudo apt install ffmpeg
    - name: Install Auto-Editor
      run: pip install -e .
    - name: Test
      run: |
        auto-editor --debug
        auto-editor test all
