name: build
on:
  release:
    types: [created]
  push:
    paths-ignore:
      - '**.md'
      - '**.txt'
      - '**.png'
      - 'auto_editor/__init__.py'
    branches:
      - master
jobs:
  build1:
    strategy:
      matrix:
        python-version: ['3.8']
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install FFmpeg
      run: |
        sudo apt update
        sudo apt install ffmpeg
    - name: Install Auto-Editor
      run: pip install -e .
    - name: Test
      run: auto-editor test all