name: build
on:
  release:
    types: [published]
  workflow_dispatch:
permissions:
  contents: write
jobs:
  main:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-24.04
            binary_name: auto-editor-linux-x86_64
          - os: ubuntu-24.04-arm
            binary_name: auto-editor-linux-aarch64
          - os: macos-15-intel
            binary_name: auto-editor-macos-x86_64
          - os: macos-latest
            binary_name: auto-editor-macos-arm64
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Install Homebrew
        if: runner.os != 'macOS'
        run: |
          /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
          echo "/home/linuxbrew/.linuxbrew/bin" >> $GITHUB_PATH
      - name: Install packages
        run: |
          brew update && brew install nim cmake
      - name: Setup
        run: |
          if [ "${{ matrix.os }}" = "ubuntu-24.04" ]; then
            wget https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2404/x86_64/cuda-keyring_1.1-1_all.deb
            sudo dpkg -i cuda-keyring_1.1-1_all.deb
            sudo apt update
            sudo apt-get install -y build-essential pkg-config nasm git cuda-cudart-12-8 cuda-cudart-dev-12-8 libcublas-dev-12-8 cuda-nvcc-12-8
            echo "ENABLE_CUDA=1" >> $GITHUB_ENV
            echo "CUDA_PATH=/usr/local/cuda-12.8" >> $GITHUB_ENV
            echo "/usr/local/cuda-12.8/bin" >> $GITHUB_PATH
            echo "LD_LIBRARY_PATH=/usr/local/cuda-12.8/lib64/stubs:/usr/local/cuda-12.8/lib64:$LD_LIBRARY_PATH" >> $GITHUB_ENV
            echo "LDFLAGS=-L/usr/local/cuda-12.8/lib64/stubs -L/usr/local/cuda-12.8/lib64" >> $GITHUB_ENV
            sudo ln -sf /usr/local/cuda-12.8/lib64/stubs/libcuda.so /usr/local/cuda-12.8/lib64/stubs/libcuda.so.1
          elif [ "${{ matrix.os }}" = "ubuntu-24.04-arm" ]; then
            wget https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/arm64/cuda-keyring_1.1-1_all.deb
            sudo dpkg -i cuda-keyring_1.1-1_all.deb
            sudo apt update
            sudo apt-get install -y build-essential pkg-config git cuda-cudart-12-8 cuda-cudart-dev-12-8 libcublas-dev-12-8 cuda-nvcc-12-8
            echo "ENABLE_CUDA=1" >> $GITHUB_ENV
            echo "CUDA_PATH=/usr/local/cuda-12.8" >> $GITHUB_ENV
            echo "/usr/local/cuda-12.8/bin" >> $GITHUB_PATH
            echo "LD_LIBRARY_PATH=/usr/local/cuda-12.8/lib64/stubs:/usr/local/cuda-12.8/lib64:$LD_LIBRARY_PATH" >> $GITHUB_ENV
            echo "LDFLAGS=-L/usr/local/cuda-12.8/lib64/stubs -L/usr/local/cuda-12.8/lib64" >> $GITHUB_ENV
            sudo ln -sf /usr/local/cuda-12.8/lib64/stubs/libcuda.so /usr/local/cuda-12.8/lib64/stubs/libcuda.so.1
          elif [ "${{ matrix.os }}" = "macos-15-intel" ]; then
            brew install nasm
            echo "MACOSX_DEPLOYMENT_TARGET=14.0" >> $GITHUB_ENV
          elif [ "${{ matrix.os }}" = "macos-latest" ]; then
            echo "MACOSX_DEPLOYMENT_TARGET=14.0" >> $GITHUB_ENV
          fi
      - name: Build FFmpeg
        run: nimble makeff
      - name: Compile
        run: nimble make
      - name: Test
        run: nimble test
      - name: Rename binary
        run: |
          mv auto-editor ${{ matrix.binary_name }}
      - name: Upload to Release
        if: github.event_name == 'release'
        uses: softprops/action-gh-release@v1
        with:
          files: ${{ matrix.binary_name }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  windows:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Nim
        uses: jiro4989/setup-nim-action@v2
        with:
          nim-version: "stable"
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Install mingw-w64
        run: |
          sudo apt-get update
          sudo apt-get install -y mingw-w64 mingw-w64-tools mingw-w64-x86-64-dev
          sudo apt-get install -y build-essential pkg-config nasm git
      - name: Build FFmpeg
        run: nimble makeffwin
      - name: Compile
        run: nimble windows
      - name: Rename binary
        run: |
          mv auto-editor.exe auto-editor-windows-amd64.exe
      - name: Upload to Release
        if: github.event_name == 'release'
        uses: softprops/action-gh-release@v1
        with:
          files: auto-editor-windows-amd64.exe
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
