name: build
on:
  release:
    types: [published]
  workflow_dispatch:
permissions:
  contents: write
jobs:
  main:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-24.04
            binary_name: auto-editor-linux-x86_64
          - os: ubuntu-24.04-arm
            binary_name: auto-editor-linux-aarch64
          - os: macos-15-intel
            binary_name: auto-editor-macos-x86_64
          - os: macos-latest
            binary_name: auto-editor-macos-arm64
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Install Homebrew
        if: runner.os != 'macOS'
        run: |
          /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
          echo "/home/linuxbrew/.linuxbrew/bin" >> $GITHUB_PATH
      - name: Install packages
        run: |
          brew update && brew install nim cmake
      - name: Setup
        run: |
          if [ "${{ matrix.os }}" = "ubuntu-24.04" ]; then
            sudo apt update
            sudo apt-get install -y build-essential pkg-config nasm git
          elif [ "${{ matrix.os }}" = "ubuntu-24.04-arm" ]; then
            sudo apt update
            sudo apt-get install -y build-essential pkg-config git
          elif [ "${{ matrix.os }}" = "macos-15-intel" ]; then
            brew install nasm
            echo "MACOSX_DEPLOYMENT_TARGET=14.0" >> $GITHUB_ENV
          elif [ "${{ matrix.os }}" = "macos-latest" ]; then
            echo "MACOSX_DEPLOYMENT_TARGET=14.0" >> $GITHUB_ENV
          fi
      - name: GCC/Clang version
        run: gcc --version
      - name: Build FFmpeg
        run: nimble makeff
      - name: Compile
        run: nimble make && mv auto-editor ${{ matrix.binary_name }}
      - name: Test
        run: nimble test

      - name: Upload to Release
        if: github.event_name == 'release'
        uses: softprops/action-gh-release@v1
        with:
          files: ${{ matrix.binary_name }}*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  windows:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Nim
        uses: jiro4989/setup-nim-action@v2
        with:
          nim-version: "stable"
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Install mingw-w64
        run: |
          sudo apt-get update
          sudo apt-get install -y mingw-w64 mingw-w64-tools mingw-w64-x86-64-dev
          sudo apt-get install -y build-essential pkg-config nasm git
      - name: Build FFmpeg
        run: nimble makeffwin
      - name: Compile
        run: nimble windows && mv auto-editor.exe auto-editor-windows-x86_64.exe
      - name: Upload to Release
        if: github.event_name == 'release'
        uses: softprops/action-gh-release@v1
        with:
          files: auto-editor-windows-x86_64.exe
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  windows-arm:
    runs-on: ubuntu-24.04-arm
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Install Homebrew
        run: |
          /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
          echo "/home/linuxbrew/.linuxbrew/bin" >> $GITHUB_PATH
      - name: Install nim
        run: brew update && brew install nim
      - name: Install llvm-mingw
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential pkg-config git meson
          curl -L -o llvm-mingw.tar.xz https://github.com/mstorsjo/llvm-mingw/releases/download/20250114/llvm-mingw-20250114-ucrt-ubuntu-20.04-aarch64.tar.xz
          tar xf llvm-mingw.tar.xz
          echo "$PWD/llvm-mingw-20250114-ucrt-ubuntu-20.04-aarch64/bin" >> $GITHUB_PATH
          echo "DISABLE_WHISPER=1" >> $GITHUB_ENV
      - name: Build FFmpeg
        run: nimble makeffwinarm
      - name: Compile
        run: nimble windowsarm && mv auto-editor.exe auto-editor-windows-aarch64.exe
      - name: Upload to Release
        if: github.event_name == 'release'
        uses: softprops/action-gh-release@v1
        with:
          files: auto-editor-windows-aarch64.exe
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
